@import './contact/contact.css';
@import './gallery/gallery.css';
@import './tabs/tabs.css';
html, body {

    height: 100%;
    width: 100%;
    font-weight: 350;
    line-height: 1.5;
    top: 0px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    margin:auto; 
    position:absolute;
}
  /* Mobile Styles */
@media only screen and (min-width: 150px) and (max-width: 400px)  {
  body {
      background-color: rgb(224, 224, 205);
  }
}
  
  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 600px) {
  body {
      background-color: rgb(224, 224, 205); 
  }
}
  
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.title {
    text-align: flex-start;
    font-weight: 300;
    margin: 20px;
    color: rgb(210, 210, 211);
    -webkit-text-stroke: rgb(81, 115, 158);
    text-shadow:
    1px 2px 0 rgb(155, 151, 136),
  -2px -1px 0 black,  
   1px -1px 0 rgb(155, 151, 136),
   -2px 1px 0 black,
    1px 2px 0 rgb(155, 151, 136);
    
}
.background {
    width: 100%;
    padding-top: 10%;
    height: 120px;
    background-image: url(./images/background.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
}

nav {
    border: 3px solid rgb(224, 224, 205);
    background-color: transparent;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #575a5c;
  text-decoration: none;
}
.bottombar {
    border: 2.5px solid rgb(211, 211, 198);
    margin: 2px;
    text-align: center;
    padding: 15px;
    background-color: rgb(252, 252, 247);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bottombar__contactbtn {
    float: center;
}

.bottombar__contactbtn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #aeb5b9;
    position: relative;
    background-color: rgb(223, 221, 221);
    color: rgb(210, 210, 211);
    -webkit-text-stroke: rgb(81, 115, 158);
    text-shadow:
    1px 1px 0 black,
  -1px -1px 0 rgb(155, 151, 136),  
   1px -1px 0 black,
   -1px 1px 0 rgb(155, 151, 136),
    1px 1px 0 black;
}
  
.bottombar__contactbtn a:active {
    top: 2px;  /* make the button shift when its clicked */
}